<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/custom.css">
    <title>initTracker</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="navbar">
        <nav class="navbar bg-danger navbar-expand-sm" id="titlebar">
          <a class="navbar-brand" href="#"><h6></h6></a>
        </nav>
        <nav class="navbar bg-dark">
          <div class="col">
            <img src="images/DD_Transparent.png" height="36"></img>
          </div>
          <div class="col">
            <a class="navbar-brand text-white" href="#">initTracker</a>
          </div>
          <div class="col">  
              <input id="name_id" class="form-control mr-sm-2" type="text" placeholder="Name">
          </div> 
          <div class="col">  
            <input id="initiative_id" class="form-control mr-sm-2" type="number" placeholder="Initiative">
          </div>
          <div class="col">  
            <input id="hp_id" class="form-control mr-sm-2" type="number" placeholder="HP">
          </div>   
          <div class="col">
            <button class="btn btn-outline-danger btn-light my-2 my-sm-0" type="submit" onclick="addParticipant()">Add</button>
          </div>
          <div class="col">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" onclick="advanceTurn()">Next Turn</button>
          </div>
        </nav>
      </div>
      <div class="row">  
        <div class="col-12">
          <br><br><br><br>
          <ul class="list-group" id="app">
            <div v-for="item in listOfParticipants">
              <div v-if="item.active">
                <initlist_active
                 v-bind:participant="item"
                 v-bind:initiative="item.name"
                ></initlist_active>
              </div>
              <div v-else>
              <initlist
                 v-bind:participant="item"
                 v-bind:initiative="item.name"
                ></initlist>
              </div>
            </div>
          </ul>
        </div>      
      </div> 
    </div>
    <!-- <script src="js/bootstrap/bootstrap.js"></script> -->
    <script src="js/data.js"></script>
    <script src="js/listBuilder.js"></script>
    <script src="js/addParticipant.js"></script>
    <script src="js/statGenerator.js"></script>
    <script src="js/advanceTurn.js"></script>
    <script src="js/hpManager.js"></script>
    <script src="js/simplebar_script.js"></script>
  </body>
</html>